@page
@model Chirp.Web.Pages.AboutMeModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2>About Me</h2>

    @if (User.Identity!.IsAuthenticated){
        <div>
            <h3>Profile Information</h3>
            <p><strong>Name:</strong> @Model.Name</p>
            <p><strong>Email:</strong> @Model.Email</p>
        </div>

        <div>
            <h3>People I Follow</h3>
            @if (Model.Follows != null && Model.Follows.Any())
            {
                <ul>
                    @foreach (var follow in Model.Follows)
                    {
                        <li>
                            <a href="/@follow">@follow</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>You are not following anyone yet.</p>
            }
        </div>

        <div>
            <h3>My Cheeps</h3>
            @if (Model.Cheeps.Any())
            {
                <partial name="_MessageListPartial" model="Model" />
            }
            else
            {
                <em>There are no cheeps so far.</em>
            }
        </div>
        
        <div>
            <h3>My Achievements</h3>
            <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                @foreach (var achievement in Model.Achievements)
                {
                        <div class="achievement-container" style="max-width: 45%;">
                            <img style="width: 110px;" src="@(achievement.ImagePath)" alt="Achievement Badge" />
                            <div>
                                <h4 class="achievement-heading">@(achievement.Title)</h4>
                                <p class="achievement-p">@achievement.Description</p>
                            </div>
                        </div>
                }
            </div>
        </div>
        

        <div>
            <h3>Delete Account</h3>
            <p>This action cannot be undone.</p>
            <form method="post" asp-page-handler="ForgetMe">
                <button type="submit" name="forgetMeBTN" class="btn btn-danger">Forget me!</button>
            </form>
        </div>

    } else {
        <em>Login to see this page.</em>
    }
</div>