@model Chirp.Web.Pages.Models.FollowStatInfoModel;

<h3 class="card-heading">
    <a class="button" href="#@Model.PopupId">
        @(Model.IsFollowedInfo ? "Followers" : "Following") @Model.Connections.Count
    </a>
</h3>
<ul class="followers-ul">
    @if (Model.Connections.Count > 0)
    {
        @foreach (var name in Model.Connections.Take(3))
        {
            <li>
                <a href="/@name" style="color: black; text-decoration: none;">@name</a>
            </li>
        }
        @if (Model.Connections.Count > 3)
        {
            <li>
                <a class="button" href="#@Model.PopupId">@(Model.IsFollowedInfo ? "See all followers" : "See all following")</a>
            </li>
        }
    }
    else
    {
        <p>@(Model.IsFollowedInfo ? "No users are following you." : "You are not following anyone yet.")</p>
    }
</ul>